<form class="form-signin" #myForm="ngForm" (ngSubmit)="myForm.valid && onSubmit()">
    <h2 class="form-signin-heading">Please sign up</h2>

    <fieldset>
      <label for="inputFirstName" class="sr-only">Prénom</label>
      <input
        type="text"
        name="firstName"
        id="inputFirstName"
        class="form-control"
        placeholder="Username"
        required
        autofocus
        [(ngModel)]="newUser.firstName"
        #firstName="ngModel"
        minlength="3"
        maxlength="15" />
      <div *ngIf="myForm.submitted && !myForm.valid">
        <span *ngIf="firstName.errors?.['required']">Le Prénom est requis</span>
        <span *ngIf="firstName.errors?.['minlength']">La longueur minimale doit être supérieure à 3</span>
        <span *ngIf="firstName.errors?.['maxlength']">La longueur maximale doit être inférieure à 15</span>
      </div>
    </fieldset>

  <fieldset>
    <label for="inputLastName" class="sr-only">Nom</label>
    <input
      type="text"
      name="lastname"
      id="inputLastName"
      class="form-control"
      placeholder="Lastname"
      required
      autofocus
      [(ngModel)]="newUser.lastName"
      #lastName="ngModel"
      minlength="3"
      maxlength="15" />
    <div *ngIf="myForm.submitted && !myForm.valid">
      <span *ngIf="lastName.errors?.['required']">Le Nom est requis</span>
      <span *ngIf="lastName.errors?.['minlength']">La longueur minimale doit être supérieure à 3</span>
      <span *ngIf="lastName.errors?.['maxlength']">La longueur maximale doit être inférieure à 15</span>
    </div>
  </fieldset>

  <fieldset>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required email [(ngModel)]="newUser.email" #email="ngModel" />
    <div *ngIf="myForm.submitted && !myForm.valid">
      <span *ngIf="email.errors?.['required']">L'email est requis</span>
      <span *ngIf="email.errors?.['email']">L'email doit être valide</span>
    </div>
  </fieldset>

  <fieldset>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required [(ngModel)]="newUser.password">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
  </fieldset>
</form>
